<div class="container mt-5">
  <h2 class="text-center my-4">投稿詳細</h2><!--中央揃え,my-4で上下のマージン-->

  <table class="table table-hover"><!--table-bordered：テーブルに枠線-->
    <thead class="thead-light"><!--テーブルヘッダーに薄い背景色-->
    <tr>
      <th>プロフィール</th>
      <th>名前</th>
      <th>投稿画像</th>
      <th>内容</th>
      <th>日付</th>
      <th colspan="2">操作</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td class="text-center align-middle"><!--要素を中央揃え,セル内のテキストを中央に揃える。-->
          <%= link_to user_path(@post.user.id) do %>
            <%= image_tag @post.user.get_profile_image, class: 'img-thumbnail' %><!--画像に枠線と余白を追加し、サムネイル風に表示-->
          <% end %>
        </td>
        <td class="align-middle">
          <%= link_to admin_user_path(@post.user.id) do %>
            <%= @post.user.name %>
          <% end %>
        </td>
        <td class="text-center align-middle"><%= image_tag @post.get_post_image, class: 'img-fluid' %></td><!--要素を中央揃え,セル内のテキストを中央に揃える。画像を親要素にフィット-->
        <td class="align-middle"><%= @post.body %></td><!--セル内のテキストを中央に揃える。-->
        <td class="align-middle"><%= @post.created_at.strftime('%Y/%m/%d') %></td>
        <td class="align-middle"><!--セル内のテキストを中央に揃える。-->
          <%= link_to "編集", edit_admin_post_path(@post.id), class: "btn btn-primary" %>
        </td>
        <td class="align-middle">
          <%= link_to "削除", admin_post_path(@post.id), method: :delete, class: "btn btn-danger", data: { confirm: "投稿を削除しますか？" } %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="comments mt-4">
    <h3>コメント</h3>

    <ul class="list-unstyled">
      <% @post.post_comments.each do |post_comment| %>
        <li class="media my-3">
          <div class="media-body">
            <h5 class="mt-0 mb-1">
              <%= link_to user_path(post_comment.user.id) do %>
                <%= post_comment.user.name %>
              <% end %>
                <%= link_to "削除", admin_post_post_comment_path(@post, post_comment), method: :delete, data: { confirm: "コメントを削除しますか？" }, class: "btn btn-sm btn-danger float-right" %>
            </h5>
            <%= post_comment.comment%>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>