<div class="card-list-container">
  <div class="row">
    <% post_comments.each do |post_comment| %>
      <div class="col-md-10">
        <div class="card mx-auto mt-0 shadow-lg">
          <div class="card-header">
            <% if post_comment.user == current_user %>
              <%= link_to mypage_path do %>
                <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %>
              <% end %>
            <% else %>
              <%= link_to user_path(post_comment.user) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %>
              <% end %>
            <% end %>
            <%= post_comment.user.name %>
          </div>
          <div class="card-body">
            <div>
              <%= post_comment.comment %>
            </div>
            <p class="text-muted"><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
            <div id="post_comment_<%= post_comment.id %>">
              <%= render "public/favorites/btn_post_comment", post: @post, post_comment: post_comment %>
            </div>
            <div class="d-flex justify-content-end">
              <% if post_comment.user == current_user %>
                <%= link_to "削除", post_post_comment_path(post_id: post_comment.post.id, id: post_comment), remote: true, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "コメントを削除しますか？" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>