<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="mb-0">トレーニング記録編集</h2>
        </div>

<!--バリデーションエラーメッセージ-->
    <% if @record.errors.any? %>
    <%= @record.errors.count %>件のエラーが発生しました
    <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

        <div class="card-body">
          <%= form_with model: @record, method: :patch, url: admin_record_path(@record.id), local: true do |f| %>

            <div class="form-group">
              <div>
                <%= f.label :start_time, "トレーニング日" %>
              </div>
              <div>
                <%= f.date_select :start_time, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :part, "部位" %>
              <%= f.select :part, Record.part_selects.keys.map {|k| [I18n.t("enums.record.part_select.#{k}"),k]}, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :place, "場所" %>
              <%= f.text_field :place, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :exercise, "エクササイズ" %>
              <%= f.text_field :exercise, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :weight, "重量(kg)" %>
              <%= f.number_field :weight, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :rep, "レップ数" %>
              <%= f.number_field :rep, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :set, "セット数" %>
              <%= f.number_field :set, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit '記録を保存', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>