<div class="card-list-container">
  <div class="row">
    <div class="col-md-10 mb-2">
      <table class="table table-hover">
        <tbody>
        <% users.each do |user| %>
          <tr>
            <td class="text-center align-middle"><%= image_tag user.get_profile_image(100,100), class: 'img-thumbnail' %></td>
            <td class="align-middle"><%= link_to user.name, user_path(user.id) %></td>
            <td class="align-middle">フォロー数: <%= user.followings.count %></td>
            <td class="align-middle">フォロワー数: <%= user.followers.count %></td>
            <td class="align-middle"><%= render "public/relationships/btn", user: user %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>